body{
    background-color: crimson;
    font-size:large;
}
.nav_head{
    background-color: black;
}
#home_page{
    background-color: black;
    margin:20px;
}
#team_page{
    background-color: black;
    margin:20px;
}
h3{
    margin:20px;
}
.shrink_nav{
    padding:0px;
}
nav{
    border:10px;
}
div{
    padding:10px;
    color:white;
}
.carousel_size{
    margin:auto;
    width:700px;
    height:700px;
}
li::marker{
    font-size:0px;
}
.main_team_body{
    margin:10px;
    width:100%;
}
.color_selection{
    background-color: brown;
}
#home_btn{
    margin-right:20px;
    border:0px;
}
#home_btn:hover{
    border:5px;
}
#teams_btn{
    border:0px;
}